
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat&family=Parisienne&display=swap');
/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }


  /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    color: #000;
    position: fixed;
    width: 100%;
    z-index: 100000;
    justify-content: space-around;
  }
  
  .nav-links a {
    color: #000;
    font-family: 'DM Serif Display', serif;
  }
  

  .nav-links a:hover {
    color: red;
    text-decoration: none;
    transition: 0.5s ease;
  }
  /* LOGO */
  .logo {
    font-size: 32px;
    flex-basis: 20%;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    flex-basis: 80%;
  }
  
  .menu li:hover {
    color: red;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  
  
input[type=checkbox] {
    display: none;
  } 
  
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }




  .background-clip {
    width: 100vw;
    margin-bottom: 0;
  }

  .about-us {
    background-color:#fff;
    width: 100%;
    height: 63vh;
    margin:auto;
    display: flex;
    flex-wrap: wrap;

  }
  

  .about-left {
    flex-basis: 50%;
    height: 100%;
  }
  .about-right {
    background-color: #ddecfa;
    text-align: center;
    margin: auto;
    flex-basis: 50%;
    height:100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .ab-r {
    width: 70%;
  }



  .address-bar {
    width: 100%;
    height: 20vh;
    background-color: #a21520;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info {
    /* The image used */
  background-image: url('https://static.spotapps.co/web/americanalasvegas--com/custom/about_us_back.jpg');
    width: 100%;
  /* Full height */
  height: 140vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .info-1 {
    width: 90%;
    margin: auto;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
  }

  .info-2 {
    width: 90%;
    margin: auto;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
  }

  .info-image {
    flex-basis: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-content{
    flex-basis: 50%;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .info-content h1 {
    font-family: 'DM Serif Display', serif;
    color: black;
    font-size: 50px;
  }

  .about-right h1 {
        font-family: 'DM Serif Display', serif;
        color: black;
        font-size: 4.5vw;
  }

  .about-right p {
    font-family: 'Montserrat', sans-serif;
  }

  .info-content h1:after {
    background-image: url('https://static.spotapps.co/web/americanalasvegas--com/custom/title_decoration.png');
  }

  .info-con {
    width: 70%;
    text-align: center;
  }

  .info-content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 3vh;
    margin-top: 3vh;
  }

  .info-content h3 {
    font-family: 'Parisienne', cursive;
    font-size: 30px;
    font-weight: 10;
  }

  .form-op {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
  }


  .reservation {
    width: 100%;
    height: 75vh;
    background-color:#002e48;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .reservation h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 5vw;
  }
  .reservation p {
    font-family: 'Montserrat', sans-serif;
  }
  select {

    /* styling */
    background-color: white;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  
  select.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }
  
  select.minimal:focus {
    background-image:
      linear-gradient(45deg, green 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, green 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
  
  
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  
  h1 {
    color: white;
    line-height: 120%;
    margin: 0 auto 2rem auto;
    max-width: 30rem;
  }
  
  .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 105vh;
    overflow: hidden;
  }
  
  .zoom-effect-container {
      overflow: hidden;
      flex-basis: 20%;
  }
 
  
  .image-card img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  
  .zoom-effect-container:hover .image-card img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    object-fit: cover;
  }
  
  a{
    display: block;
    text-align:center;
    margin: 0 auto;
    width: 100%;
    color: #aaa;
  }

  .newsletter {
    width: 100%;
    height: 60vh;
    display: flex;
    background-color: #ddecfa;
    color: #000;
  }

  .newsletter h1 {
    color: black;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    text-align: left;
  }

  .newsletter h3 {
    font-family: 'Parisienne', cursive;
    font-size: 25px;
    font-weight: 10;
  }

  .newsletter p {
    font-family: 'Montserrat', sans-serif;
  }

  .news-lef {
    width: 70%;
  }

  .news-left {
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .news-right {
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input {
   width: 20vw;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #000;
    transform: translateY(-50%);
    pointer-events:none;
  }
  .txt_field span::before{
    content:' ';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #a21520;
    transition: .5s;
    
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #a21520;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }

  .footer-con {
    width: 100%;
    background-color: #a21520;
    color: #fff;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    width: 100%;
    background-color: #a21520;
    color: #fff;
    height: 40vh;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
  }

  .location {
    flex-basis: 33%;
    text-align: center;
  }

  .find-con {
    flex-basis: 33%;
    text-align: center;
  }

  .third {
    flex-basis: 33%;
    text-align: center;
  }

  .location p {
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    font-size: 17px;
  }

  .hours ul li {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 2px;
    font-size: 17px;
  }

  .find-con {
    display: flex;
    flex-direction: column;
    font-size: 17px;
  }

  .creds {
    width: 100%;
    height: 15vh;
    background-color: #002e48;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.power {
    display: flex;
    font-size: 15px;
}

.power img {
    width: 12vw;
    height: 3vh;
    margin-left: 1vw;
}

.creds a {
    color: white;
    text-decoration: underline;
    font-size: 15px;
}

.power h2 {
    font-size: 20px;
}

.strive {
    width: 100%;
    height: 10vh;
    background-color: #353638;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.strive h3 {
    font-size: 15px;
}



.carousel-cont {
    width: 100%;
    margin-bottom: 100vh;
}

.radio {
    display: none;
}

.container {
    position: relative;
    width: 100%;
}

.slider {
    width: 100%;
    position: absolute;
    padding-top: 56.25%;
    background: #141414;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left:0;
    opacity:0;
}

.caption {
    position: absolute;
    width: 100%;
    left: 5%;
    top:5%;
    color: #ffeb3b;
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: -5px;
    line-height: 50px;
    transition: 0.9s;
}

.caption span {
    display: block;
    text-transform: initial;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    line-height: 15px;
}

.dots {
    width: 100%;
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots label {
    width: 15px;
    height: 15px;
    background: #fff;
    margin: 0 10px;
    border-radius: 50%;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.dots label:hover {
    opacity: 0.7;
}

#radio-1:checked ~ #slide-1,
#radio-2:checked ~ #slide-2,
#radio-3:checked ~ #slide-3,
#radio-4:checked ~ #slide-4 {
    opacity: 1;
}

#radio-1:checked ~ #slide-1 img,
#radio-2:checked ~ #slide-2 img,
#radio-3:checked ~ #slide-3 img,
#radio-4:checked ~ #slide-4 img {
    transform: scale(1);
}

#radio-1:checked ~ #slide-1 .caption,
#radio-2:checked ~ #slide-2 .caption,
#radio-3:checked ~ #slide-3 .caption,
#radio-4:checked ~ #slide-4 .caption {
    opacity: 1;
    top: 7%;
    font-size: 80px;
}

#radio-1:checked ~ .dots #label-1,
#radio-2:checked ~ .dots #label-2,
#radio-3:checked ~ .dots #label-3,
#radio-4:checked ~ .dots #label-4 {
    opacity: 1;
    background: #ffeb3b;
}

  .button {
    background-color: #002e48; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }

  .car-container, .carousell {
    box-sizing: inherit;
  }

  .car-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background-color: #d1e8ee;
  }

  ::selection {
    color: #fff;
    background-color: #005aee;
  }

  .carousell {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 20px 0;
    border-radius: 10px;
    overflow:hidden;
    font-family: 'DM Serif Display', serif;
    font-weight: 300;
    font-size: 1.5em;
    color: #303336;
  }


  .carousell .img-list {
    position: absolute;
    top: 0;
    left: 0%;
    width: calc(100%*3);
    height: 100%;
    transition: 500ms;
}

  .carousell .img-list img {
    float: left;
    width: calc(100%/3);
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .carousell .content {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 50px;
    padding-bottom: 75px;
  }

  .carousell .text-content {
    position: absolute;
    bottom: 120px;
    width: calc(100%-100px);
    margin: auto;
    max-width: 100%;
    line-height: 1.2;
    color: #fff;
  }

  .carousell h2 {
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 20px;
  }

  .carousell p {
    font-weight: 400;
  }

  .carousell .btn-section {
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    width: fit-content;
  }

  .carousell .caro-btn {
    width: 25px;
    height: 20px;
    margin: 0 10px;
    background-color: #ffff44;
    transition: 300mx;
    cursor: pointer;
  }

  .carousell .caro-btn:first-child {
    background-color: #fff;
  }

  .carousell .caro-btn:hover {
    background-color: #ffffffaa;
  }


















  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {

    .wrapper {
        flex-direction: column;
        width: 100%;
    }

    .zoom-effect-container {
        width: 50%;
    }

    .info {
        height: 200vh;
    }

    .info-1 {
        flex-direction: column;
        height: 100vh;
    }

    .info-2 {
        flex-direction: column;
        height: 100vh;
    }

    .footer {
        flex-direction: column;
        height: 90vh;
    }

    .about-us {
        flex-direction: column;
        height: 100vh;
    }

    .about-left {
        width: 100%;
        background-size: cover;
    }

    .logo {
        flex-basis: 60%;
    }

    .menu {
        flex-basis: 40%;
    }


   .menu {
      display:none;
      position: absolute;
      background-color:#fff;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:#4c9e9e;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
    }
  
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
  
    .dropdown li:hover {
      background-color: #4c9e9e;
    }


    .about-con {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .about-right {
        width: 100%;
        padding: 3vw;
    }

    .about-left {
        width: 100%;
        background-repeat: no-repeat;
    }
    .info-2 {
        flex-wrap: wrap;
      }

      .info-1 {
        flex-wrap: wrap;
      }

      .info-content {
        width: 100%;
        padding: 3vw;
      }

      .info-image {
        width: 100%;
        padding: 3vw;
      }

      .newsletter {
        flex-wrap: nowrap;
        flex-direction: column;
      }

      .news-left {
        width: 100%;
        padding: 5vw;
      }

      .news-right {
        width: 100%;
        height: 100%;
      }

      

      .footer {
        flex-direction: column;
        text-align: center;
      }

      .strive {
        text-align: center;
        font-size: 5px;
      }
  }
